@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300&display=swap');


.app-container {
  height: 100vh;
}

.app-container.collapsed mat-sidenav-content {
  background: #13151c;
  margin-left: 100px !important;
}

.app-container:not(.collapsed) mat-sidenav-content {
  background: #13151c;
  margin-left: 430px !important;
}

a {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 60px;
  padding: 0 16px;
  transition: background 0.15s, color 0.15s;

  mat-icon { min-width: 24px; }
}

a.active {
  background: transparent;
}

a:hover:not(.active) {
  background: #292E3D;
  color: #c8d6e8;
}

a.active .nav-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 60px;
  vertical-align: middle;
  background: #30CF4F;
  border-radius: 25px;
  box-shadow:
          0 0 6px  #30CF4F,
          0 0 14px #30CF4F,
          0 0 28px #30CF4F,
          0 0 50px rgb(48 207 79 / 0.25);
}

a.active:hover::before {
  box-shadow: none;
}

.backend-label {
  color: #ffffff;
  font-size: 14px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  font-family: 'open-sans', sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.logo-img {
  padding-top: 95px;
  padding-left: 10px;
  margin-top: -80px;
  width: 150px;
  height: 150px;
}

.logo-img,
.nav-label {
  transition: opacity 200ms ease, width 200ms ease;
}

.logo-img.hidden,
.collapsed .nav-label {
  opacity: 0;
  width: 0;
  overflow: hidden;
  pointer-events: none;
}

.toggle-btn .rotated {
  transform: rotate(180deg);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 18px 100px 18px;
  border-bottom: 1px solid #1e2a40;
}

.nav-label {
  margin-left: 12px;
  font-size: 32px;
  font-family: 'Open Sans' , sans-serif;
  color: #ffffff;
  padding: 10px;
}

mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
  color: #919399;
}

mat-sidenav {
  --mat-sidenav-container-shape: 0px;
  width: 430px;
  background: #232733;
  border-right: 1px solid #1e2a40;
  transition: width 0.25s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  mat-nav-list {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  mat-nav-list mat-icon {
    display: none;
  }

  &.collapsed {
    width: 100px;

    .nav-header {
      justify-content: center;
    }

    mat-nav-list {
      gap: 40px;
    }

    mat-nav-list mat-icon {
      display: inline-flex;
      color: #ffffff;
      font-size: 30px;
      width: 30px;
      height: 30px;
    }

    .nav-label { display: none; }

    .logo { display: none; }

    a {
      justify-content: center;
      padding: 0;
      margin: 4px 8px;
      width: calc(100% - 16px);
    }
  }
}

mat-sidenav-content {
  background: #1c1f29;
  color: #fbfbfb;
  transition: margin-left 0.25s ease !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

mat-sidenav ::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px;
  transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
}


.toggle-btn mat-icon {
  --icon-size: 36px;
  font-size: var(--icon-size);
  width: var(--icon-size);
  height: var(--icon-size);
  line-height: var(--icon-size);
  color: #c0d1e3 !important;

  &:hover {
    color: #ffffff !important;
    background: none;
  }
}

.toggle-btn mat-icon.rotated {
  transform: rotate(180deg);
  transition: transform 0.25s ease;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  border-radius: 0 !important;
  background: transparent;
}

.mat-mdc-list-item .mat-mdc-focus-indicator,
.mat-mdc-list-item .mat-ripple {
  display: none !important;
}

:host ::ng-deep mat-nav-list.mat-mdc-nav-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .mat-drawer-inner-container {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE/Edge */
}

:host ::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}

* {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE/Edge */
}

*::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}

