<div class="bottom-bar">
    <div class="metrics">
        <div class="metric balance">
            <span class="value">
                {{ balance | currency:'USD':'symbol':'1.2-2' }}
            </span>
            <span class="label">Solde Total Disponible ⓘ</span>
        </div>
        <div class="footer-border">
          <span class="plus-icon">+</span>
            </div>
        <div class="metric invest">
            <span class="value">
               {{ invested | currency: 'USD': 'symbol': '1.2-2' }}
            </span>
            <span class="label">Total Investi</span>
        </div>
        <div class="footer-border">
            <span class="plus-icon">+</span>
        </div>
        <div class="metric result">
    <span class="value"
          [class.neutral]="Math.abs(profit) < 0.005"
          [class.positive]="profit >= 0.005"
          [class.negative]="profit <= -0.005" >
        {{ profit | currency:'USD':'symbol':'1.2-2' }}
    </span>
            <span class="label">Bénéfice/Perte</span>
        </div>
        <div class="footer-border">
            <span class="equal-icon">=</span>
        </div>
        <div class="metric total">
            <span class="value">
                {{ total | currency: 'USD': 'symbol': '1.2-2' }}
            </span>
            <span class="label">Valeur Totale</span>
        </div>
    </div>
</div>