<div class="bottom-bar">
    <div class="metrics">
        <div class="metric balance">
            <span class="value">$0.01</span>
            <span class="label">Solde Total Disponible ⓘ</span>
        </div>
        <div class="footer-border">
          <span class="plus-icon">+</span>
            </div>
        <div class="metric invest">
            <span class="value">$3,255.01</span>
            <span class="label">Total Investi</span>
        </div>
        <div class="footer-border">
            <span class="plus-icon">+</span>
        </div>
        <div class="metric result">
            <span class="value">$3,255.73</span>
            <span class="label">Bénéfice/Perte</span>
        </div>
        <div class="footer-border">
            <span class="equal-icon">=</span>
        </div>
        <div class="metric total">
            <span class="value">$3,255.01</span>
            <span class="label">Valeur Totale</span>
        </div>
    </div>
</div>