<div class="market">
    <mat-card>
        <mat-card-content>
            <h2>{{ symbol }}</h2>
            <p>{{ price | number:'1.2-2' }} $</p>
            <p [class.positive]="variationDay ?? 0 > 0" [class.negative]="variationDay ?? 0 < 0">
                {{ absDailyPriceChange | number:'1.2-2' }} ({{ variationDay | number:'1.2-2' }}%)
            </p>
        </mat-card-content>
    </mat-card>
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Vue d'ensemble">
        </mat-tab>
        <mat-tab label="Graphique">
            <div id="tradingview-widget"></div>
        </mat-tab>
        <mat-tab label="Actualité">
            @for (article of articles; track article.url) {
                <div>
                    <a [href]="article.url" target="_blank">{{ article.title }}</a>
                    <p>{{ article.sourceName }} — {{ article.publishedAt }}</p>
                </div>
            }
        </mat-tab>
    </mat-tab-group>
</div>
